<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>189413184858-rf7eulk1iut3h7icfv6sdekpl8ogl57l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189413184858-rf7eulk1iut3h7icfv6sdekpl8ogl57l</string>
	<key>API_KEY</key>
	<string>AIzaSyBEmw3I_HRSMauKriOal0k7KUdAsBsrM-I</string>
	<key>GCM_SENDER_ID</key>
	<string>189413184858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incube.qmei</string>
	<key>PROJECT_ID</key>
	<string>qmie-206e3</string>
	<key>STORAGE_BUCKET</key>
	<string>qmie-206e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:189413184858:ios:4850b3bc7571a061</string>
	<key>DATABASE_URL</key>
	<string>https://qmie-206e3.firebaseio.com</string>
</dict>
</plist>
